.recipeContainer {
    display: flex;
}

.recipeImage {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 2%;
}

.recipeDetails {
    margin-top: 2%;
}

.recipeFlag {
    margin-top: -40px;
    margin-left: 10px; 
    margin-left: 230px;
}

.buttonTag {
    color: black;
	background-color: #ec9b87;
	border-radius: 25px;
	width: 90px;
	margin-right: 10px; 
	padding: 5px;
	text-align: center;
    display: inline-block;
}