.anya-nav {
	background-color: #f89983;
	color: white !important;
}



body {
	background-color: #ffe6e6;
	font-family: open-sans, sans-serif;
  margin: 0;
}

.recipes {
	//background-color: red;
	//padding: 5px 0 0 5px;
	text-align: center;
	position: relative;





	//display: flex;
	//justify-content: center;
	//align-items: center;
	//margin-right: auto;
	//margin-left: auto;

}

.row {
	margin-left: auto;
	margin-right: auto;
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.column {
	text-align: center;
    display: table-cell;
    //background-color: red; /*Optional*/
}

/*
.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  display: flex;
}

.column:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
*/

.column {
	position: relative;
}

img {
	display: block;
	margin: auto;
}

.overlay {
	width: 200px;
	height: 200px;
	position: absolute;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: 0.6s;
	color: white;
}

.overlay:hover {
	opacity: 1;
}

main {
	min-height: 60vh;
	background: $c-black;
	//display: flex;
	
	background: url("landing.png") no-repeat center center/cover;

	padding-top: 15vh;

	.ct {
		//justify-content: center;
		color: white;
		padding-bottom: 7vh;
		font-size: 8rem;

	}
}

h2 {
	text-align: center;
	font-size: 2.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #f89983;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  padding: 14px 16px;
  float: right;
}

h1 {
	text-align: center;
	grid-column: 1 / span 2;
}

form.main-form {
  grid-column: 1 / span 2;
  margin: 1rem auto;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  #searchBox {
    width: 66%;
    font-size: 1.5rem;
    padding: .25rem .5rem;
    padding-left: 1.5em;
    font-family: open-sans, sans-serif;
    font-weight: 500;
    border: 3px solid #ec9b87;
    border-radius: 32px;

    @media screen and (max-width: 500px) {
      margin-bottom: .5rem;
      width: 100%;
    }
    
    &:focus {
      outline: none;
    }
  }

  ::placeholder {
    font-weight:300;
    font-family: open-sans-condensed, sans-serif;
  }
    
  #searchButton {
    background-color: #f5f5f5;
    border: 3px solid #ec9b87;
    border-radius: 30px;
    padding: 10px;
    width: 200px;
    font-size: 25px;
    @media screen and (max-width: 800px) {
      font-size: 1.25rem;
    }
    
    @media screen and (max-width: 640px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;
    }
    
    &:hover {
      cursor: pointer;
    }
    &:active {
      color: $c-green2;
      background: $c-dark;
    }
    &:focus {
      outline: none;
    }
  }
} // end form

.this-is-stupid { // if this isn't here, the next part doesn't work ¯\_(ツ)_/¯
  background-color: black;
}

.upload-and-ingredients {
  max-width: 67%;
  min-width: 700px;
  height: 250px;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.grid-item-right {
  display: inline;
  float: right;
  width: 70%;
  height: 100%;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: #f89983;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 1em;
}

li.ing {
  padding: 0.5em 1em;
  border-radius: 15px;
  box-sizing: content-box;
  border-style: solid;
  border-color: #f89983;
  list-style-type: none;
  background-color: #ffe6e6;
  margin: 0 1em;
  width: 80%;
}

.grid-item-left {
  text-align: center;
  display: flex;
  float: left;
  width: 30%;
  height: 250px;
  .graybox {
    height: 250px;
    width: 350px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    float: left;
    text-align: center;   
  }
}



.upload-icon {
  width: 60px;
  height: 60px;
  background-size: cover;
  margin: auto;
  margin-bottom: -20px;
}

div.upload-container {
  margin: auto;
  margin-bottom: 4em;
  height: 1em;
  flex: 0 0 100%;
  text-align: center;
}

p.upload-text {
  text-align: center;
  height: 1em;
  margin: 0;
  padding: 0 3em;

  /* disable selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.tags-container {
  float: initial;
  max-width: 67%;
  min-width: 700px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: #f89983;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  .tags {
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    margin: 1em;
    margin-top: 0;
  }
}

li.tag {
  background-color: #ffe6e6;
  border-style: solid;
  border-width: 3px;
  border-radius: 2em;
  border-color: #f89983;
  justify-content: center;
  padding: 0.25em 1em;
  margin: 0.5em;

  /* disable selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.description-container {
  float: initial;
  max-width: 67%;
  min-width: 700px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: #f89983;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

.txt {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}
    
.recipe-image-holder {
  height: 200px;
  width: 200px;
  margin: auto;
  background-size: cover;
}	

.flag-image-holder {
  height: 25px;
  width: 50px;
  background-size: cover;
  margin-bottom: 10px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
}










/*

.imgdiv {	
	margin-right: 6em;
    margin-left: 6em;
    border: 1px solid #ccc; 
    justify-content: inline;   
}


body {
	font-family: wingdings;
}

nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;
  
    padding: 120px 0 0 0;  
    text-align: center;
    font-size: 16px;

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }
*/
